html {
    color: palegreen
}

/*
body {
    color: blue; 
    background-color:azure;
}
*/

h1{
    color:green;
    background-color: antiquewhite
}
h2{
    color: gold;
}

#Head-2 {
    font-family: monospace;
}

.cis-260 {
    color:darkorange;
    background-color: darkkhaki
}

.test {
    background-color: khaki;
}

.class1 {
    background-color: darkseagreen;
}

p {
    color: coral;
    background-color: dodgerblue
}

#Special-Paragraph {
    color:#0000ff;
}

a {
    color:red;
}

body p a {
    font-family: cursive
}