html {
    color: palegreen
}

/*
body {
    color: blue; 
    background-color:azure;
}
*/

h1{
    color:green;
    background-color: antiquewhite
}
h2{
    color: gold;
}

.cis-260 {
    color:darkorange;
    background-color: darkkhaki
}

.test {
    background-color: khaki;
}

.class1 {
    background-color: darkseagreen;
}

p {
    color: coral;
    background-color: dodgerblue
}

a {
    color:red;
}